/* .micro {
    color: #20b2aa;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
  }

  .micro2{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
  } */
  .slick-slide {
    padding: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }
  
  .slick-prev,
  .slick-next {
    z-index: 1;
  }